$primaryColor: #9B3938; //主色
$secondaryColor: #F5D5B5; //輔色
$lightColor: #ffcc33; //點綴
$importantColor: #da0b00; //重要
$bodyBgc: #fff; //body 背景色


$font-color: #333;
$font-color-light:#595959;
$font-color-dark:#000;


$border-color: #aaa;
$border-color-light: #ddd;
$border-color-dark:#777;

$btn-bg1: $primaryColor ;
$btn-bg2:darken($primaryColor, 12%);

$gray: #ddd;
$grayLight: #ececec;
$grayDark: #555;

