$primaryColor: #9B3938; //主色
$secondaryColor: #F5D5B5; //輔色
$lightColor: #ffcc33; //點綴
$linkColor: #015e98; //連結文字顏色
$importantColor: #da0b00; //重要
$bodyBgc: #fff; //body 背景色
$footerBgc:#1B1B1B; //footer 背景色


$font-color: #333;
$font-color-light:#595959;
$font-color-dark:#000;
$invert-font:#fff;


$border-color: #aaa;
$border-color-light: #ddd;
$border-color-dark:#777;
$shadow:#0003;
$shadow2:#0006;

$btn-bg1: $primaryColor ;
$btn-bg2:darken($primaryColor, 12%);

$gray: #ddd;
$grayLight: #ececec;
$grayDark: #555;

 // --------------------------------- 顏色變換：color0
.color0{ // 預設值
  .main{
    &.mp{
      background-image: linear-gradient( $secondaryColor 0% , #fff 400px );
    }
    @media screen and (min-width: $wwNormal){
      &.mp{
        background: url(../images/mpBg.jpg) no-repeat center 0;
        background-size: 100% auto;
      }
    }
  }
}


 // --------------------------------- 顏色變換：color1
.color1{
  $primaryColor: #333; //主色
  $secondaryColor: #fff; //輔色
  $lightColor: #d8af09; //點綴
  $linkColor: #38a4e8; //連結文字顏色
  $importantColor: #d70c01; //重要
  $bodyBgc: #000; //body 背景色
  $footerBgc:#333; //footer 背景色

  $font-color: #ddd;
  $font-color-light:#aaa;
  $font-color-dark:#fff;
  $invert-font:#000;

  $border-color: #777;
  $border-color-light: #444;
  $border-color-dark:#bbb;
  $shadow:#fff4;
  $shadow2:#fff8;
  
  $btn-bg1: $primaryColor ;
  $btn-bg2: lighten($primaryColor, 15%);
  
  $gray: #ddd;
  $grayLight: #555;
  $grayDark: #ececec;


  // .......... ^_^ .......... //
  background-color:$bodyBgc; color:$font-color;

  a{color:$font-color;}
  h1, h2, h3, h4, h5, h6{color: $font-color-dark;}


  .webHeader{
    .topLinks>ul>li>a{ color: $font-color;
      &::after{background-color: $secondaryColor;}
    }

    @media screen and (min-width: $wwNormal){
      .menu{
        background: $primaryColor; 
        li{
          a{ color: $secondaryColor;
            &:hover, &:focus{ background-color: darken($primaryColor, 12%);}
          }
          &.hasChild{
            &>a{
              &::after{border-color: $lightColor; }
            }
          }
        }
        &>ul{ 
          ul{ background: $bodyBgc; box-shadow:$border-color 0 0 0 1px, $shadow2 0 0 20px;
            &>li{ border-bottom: 1px solid $border-color-light;
              &::before{ background-color: $lightColor; }
              &>a{ color: $font-color;
                &:hover, &:focus {color:$invert-font; background: $secondaryColor; }
              }
              &.hasChild{
                a{
                  &::after{ border-color: $lightColor; }
                  // &:hover::after, &:focus::after{ border-color: $secondaryColor;}
                }
              }
            }

          }
        }
      }
  
    }
  }

  .preferences{
    background: $bodyBgc; box-shadow: $shadow 0 0 25px;
    .label{color: $font-color;}
    .colorSet>li.active{box-shadow:$lightColor 0 0 0 2px;}
  }
  
  // 表單元件
  %textInput {
    background-color: $bodyBgc;
    border-color: $border-color;
    color: $font-color;
    &:hover{border-color: $border-color-dark;}
    &:focus{border-color: $border-color-dark;box-shadow: $border-color 0 0 0 3px;}
  
  }
  %selectStyle {
    background-color: $bodyBgc;
    border-color: $border-color;
    color: $font-color;

    &:hover{border-color: $border-color-dark;}
    &:focus{border-color: $border-color-dark; box-shadow: $border-color 0 0 0 3px;outline: none;}
  
  }

  $disabled-color: #999;

  // 按鈕樣式
  .button>a,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    border-color: $border-color;
    color: $font-color-dark;
    background-color: $primaryColor;
    &:hover {
      border-color: $border-color-dark;
      box-shadow: $border-color 0 0 12px 1px;
    }
    &:focus{
      background-color: $btn-bg1;
      border-color: $border-color-dark;
      box-shadow: $border-color 0 0 0 3px;
    }
  }

  // radio 和 checkbox
  input[type="radio"],
  input[type="checkbox"] { border-color: $grayDark;  }
  input[type="radio"] {
    &:focus, &:checked{
      border-color: $bodyBgc;
      box-shadow: $secondaryColor 0 0 0 3px;
      background-color: $secondaryColor;
    }
  }
  input[type="checkbox"]{ 
    border-radius: 3px;
    border: 1px solid $grayDark;
    &:checked{
      background: $primaryColor url(../images/icon_check.svg) no-repeat center center;
      background-size: 96%;
      box-shadow: $primaryColor 0 0 0 2px; border-color: #fff;
    }
    &:focus{box-shadow: $primaryColor 0 0 0 2px, darken($lightColor, 15%) 0 0 0 4px ; border-color: #fff;}
  }


  .captchaSet{
    button{
      box-shadow: $border-color 0 0 0 1px; 
      i{background-color: $primaryColor;}

      &:hover{
        box-shadow: $border-color-dark 0 0 0 1px, $border-color-dark 0 0 12px 1px;
      }
      &:focus{
        box-shadow: $border-color-dark 0 0 0 1px, $border-color 0 0 0 4px;
      }
    }
  }

  // checkbox, radio 選項群組 //
  .optionGroup{
    label{
      &:hover{ color: $font-color-dark; box-shadow: $border-color-light 0 0 0 1px;}
    }
  }



  // 表單元件：結束




  .mpSearch{
    box-shadow: $shadow 0 0 0 1px, $shadow2 0 0 50px;
  }
  
  .lpSearch{
    box-shadow: $shadow 0 0 0 1px, $shadow 0 8px 25px;
  }


  // 快捷鍵
  @media screen and (min-width: $wwNormal){
    .accesskey{ color: lighten($bodyBgc, 60%);
      &:focus{ outline: 2px solid $importantColor;}
    }
    .webFooter .accesskey{
      color: lighten($bodyBgc, 50%);
    }
  }


  .breadcrumb {
    color: $font-color;
    a{color: $font-color-dark;
      &:hover{border-bottom-color: $font-color-dark;}
      &:focus{box-shadow: $border-color 0 0 0 1px inset; border-bottom-color:transparent; color:$font-color-dark;}
    }
  }

  .more a{color: $font-color-dark;
    &::before{
      background: $bodyBgc;
      box-shadow: $border-color 0 0 0 2px inset;
      }
    &::after{ border-color: $font-color-dark}
    &:hover, &:focus{
      box-shadow:invert($bodyBgc) 0 0 0 2px;
      background-color: $font-color-dark; color: $invert-font;
      &::before{ box-shadow:none;}
    }
  }


  .goTop{ 
    a{ background-color: lighten($bodyBgc, 40%);
      &:hover, &:focus{
        background-color: transparent;
        box-shadow: $shadow2 0 0 8px 1px;
      }  
    }
  }

  .goCenter{
    color:$font-color; 
  }



  .preferences{
    a{color:$font-color;}
  }

  .notice{
    &>a, p a{ color: $font-color; }
  }





  .newArrival {
    .list>li {background: $bodyBgc;
      &>a {
        background: $bodyBgc; color: $font-color;
        box-shadow: $border-color 0 0 0 1px;
        &:hover, &:focus{ box-shadow: $border-color-dark 0 0 0 1px, $shadow2 0 0 20px 2px; }
        &:focus{ box-shadow: $border-color-dark 0 0 0 1px, $shadow2 0 0 0 5px; }

      }
    }
  }
  
  .popularity{

    .rank{ 
      &>li{border-bottom-color: $border-color-light;
        a{ color: $font-color; }
      }
      .ranking{ 
        background-color:invert($bodyBgc); color: $invert-font; 
      }
      .title{ 
        a{ 
          &::after{
            background-color: $font-color-dark;
          }
          &:focus{box-shadow:$border-color 0 0 0 1px;}
        }
      }
      .article{
        a{ 
          &::before{
            border-color: transparent transparent transparent $font-color-dark;
          }
          &:hover{
            box-shadow:$border-color 0 0 0 1px;
          }
          &:focus{
            box-shadow:$font-color-dark 0 0 0 1px;
          }

        }
      }
      .count{
        color: $font-color-light; 
        em{ 
         color: $font-color-dark;
        }
      }
    }

    // 頁籤
    .tabs{
      .tabItem{ 
        a{
          // background-color: lighten($bodyBgc, 70%); color:$primaryColor;
          background: lighten($bodyBgc, 25%); color: $font-color;
          &:hover {border-color: $font-color-dark; }
        }
        &.active{
          a{background-color: $font-color-dark; color: $invert-font; border: none;
            // &:focus{outline: 1px solid #f00;}
          }
        }
      }

      .tabContent{
        border-top-color: $font-color-dark;
      }

    }




  }


  .attachment, .seeAlso{
    a{ color: $font-color; }
  }

  .mpSearch, .lpSearch{
    background: $bodyBgc;
    input[type="button"], input[type="submit"] {
      background-color: $secondaryColor; color: $primaryColor;
      border-color: $secondaryColor;
      &:hover, &:focus{ box-shadow:darken($secondaryColor, 30%) 0 0 0 2px; border-color: $bodyBgc;}
    }
  }



  .grid{
    a{color: $font-color;}
    .list>li{
      .date time{
        color: $font-color;
      }
    }
  }
  
  .stack{
    .list>li a{
      color: $font-color;
    }
  }

  .thisMag {
    .headerGroup {
      .date {
        time {
          color: $font-color;
        }
      }
    }
  }

  .linkBtn>a{
    color: $font-color;
  }

  // on off 開關  
  .switchOnOff {
    background: #222; box-shadow: #222 0 0 0 2px;
    &:hover{
      background: #222; box-shadow:#222 0 0 0 2px;
      color: $font-color;
    }
    &:focus{
      background: #222; 
      box-shadow: #222 0 0 0 4px;
    }
  }
  
  // ------ mp3檔案播放
  // 快速鍵說明
  .playGuide{
    @media screen and (min-width: $wwNormal){
      background: $grayDark; 
      .label{color: $invert-font;}

      dl{
        &>div{background: $bodyBgc;}
      }
      dt{color: $invert-font; background:lighten($grayDark, 10%);}
    }
  }

  // 控制開合的button
  .slideCtrl{ background-color: $gray;
    &::before{border-color: $grayLight; }
    &:hover {background-color:$font-color-dark;}
    &:focus{
      background-color: $font-color-dark;
      box-shadow: $font-color-dark 0 0 0 2px;
    }
  }

  // 正在播放的檔案內容
  .playInfo{
    box-shadow: $border-color 0 0 0 1px;
    ul.info{
      li{
        em{
          color: $font-color;
        }

        &.clickCount{
          color: $font-color-light;
        }
        &.icon_download{
          &>a{
            color: $font-color;box-shadow: $border-color 0 0 0 1px;
            &::before{
              background-color:$primaryColor;
            }
            &:hover{ box-shadow: $border-color-dark 0 0 0 1px; }
            &:focus{ box-shadow: $border-color-dark 0 0 0 2px;}
          }
        }
      }
    }

    dl.info{
      border-top-color: $border-color;
      dt{
        color: $font-color-light;
      }
    }

    .description{
      .label{color: $font-color-light;}
    }


  }

  // 待播清單
  .playList{ 
    background-color: $grayLight;
    box-shadow: $grayLight 0 0 0 1px;
    color: $font-color;
    a{color: $font-color-dark;}

    &>ol, &>ul{
      &>li{
        &>a{
          &:hover, &:focus{
            box-shadow: lighten($grayLight, 20%) 0 0 0 1px;
          }
          &::before{
            background: $font-color;
          }
          &::after{
            border-left-color: $invert-font;
          }
        }
        &.playing{
          &>a{
            background: $primaryColor; box-shadow: $primaryColor 0 0 0 2px;
            &:hover{box-shadow: $primaryColor 0 0 0 4px; }
            &:focus{box-shadow: $primaryColor 0 0 0 2px, $border-color-dark 0 0 0 3px; }
          }
        }
        .author{
          color: $font-color-dark;
        }
      }
    }
  }





}



























 // --------------------------------- 顏色變換：color2
 .color2 {
  $primaryColor: #9B3938; //主色
  $secondaryColor: #F5D5B5; //輔色
  $lightColor: #ff910b; //點綴
  $linkColor: #015e98; //連結文字顏色
  $importantColor: #d30097; //重要
  $bodyBgc: #edead6; //body 背景色
  
  
  $font-color: #333;
  $font-color-light:#595959;
  $font-color-dark:#000;
  $invert-font:#fff;
  
  
  $border-color: #b3b1a5;
  $border-color-light: #ddd;
  $border-color-dark:#777;
  $shadow:#0003;
  $shadow2:#0006;
  
  $btn-bg1: $primaryColor ;
  $btn-bg2:darken($primaryColor, 12%);
  
  $gray: #ddd;
  $grayLight: #ececec;
  $grayDark: #555;

  
  // .......... ^_^ .......... //
  background-color: $bodyBgc;
  color: $font-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $font-color;
  }

  .accesskey {
    color: darken($bodyBgc, 60%);
  }

  .webFooter .accesskey {
    color: darken($bodyBgc, 40%);
  }

  .breadcrumb {
    color: lighten($font-color, 40);
  }

  .goCenter {
    color:
      $font-color;
  }

  .switchOnOff {
    color:
      $font-color;

    &:hover,
    &:focus {
      color:
        $font-color;
    }
  }

  .preferences {
    a {
      color:
        $font-color;
    }
  }

  .notice {

    &>a,
    p a {
      color:
        $font-color;
      text-decoration: underline;
    }
  }

  .tabs {
    .tabItem {
      color: $font-color;

      &>button {
        &:hover {
          color: $font-color;
        }
      }
    }
  }

  .newArrival {
    .list>li {
      background: $bodyBgc;

      &>a {
        color: $font-color;
      }
    }
  }

  .popularity {
    .rank {
      &>li a {
        color: $font-color;
      }
    }
  }

  .more a {
    color: $font-color;
  }

  .attachment,
  .seeAlso {
    a {
      color: $font-color;
    }
  }

  .mpSearch,
  .lpSearch {
    background: $bodyBgc;
  }

  .grid {
    a {
      color: $font-color;
    }

    .list>li {
      .date time {
        color: $font-color;
      }
    }
  }

  .stack {
    .list>li a {
      color: $font-color;
    }
  }

  .playInfo {
    ul.info {
      li {
        &.icon_download>a {
          color: $font-color;
        }
      }
    }
  }

  .playGuide {
    .label {
      color: $invert-font;
    }
  }

  .playInfo {
    color: $font-color;
  }

  .thisMag {
    .headerGroup {
      .date {
        time {
          color: $font-color;
        }
      }
    }
  }

  .linkBtn>a {
    color: $font-color;
  }
}


 // --------------------------------- 顏色變換：color3
 .color3{
  // .......... ^_^ .......... //

 }
 
 // --------------------------------- 顏色變換：color4
 .color4{
  // .......... ^_^ .......... //

}
