html{ font-size: 16px;}
body{
  position: relative;
  margin: 0;padding: 0; font-family:'微軟正黑體', Arial, Helvetica, sans-serif;
  color: $font-color; 
  overflow-y: scroll;
  background-color: $bodyBgc;

  &.noScroll{
    overflow: hidden; overflow-y:hidden;
  }
}
*{box-sizing: border-box;}
a{cursor: pointer;}
.main{
  position: relative; padding: 30px 0 0;
  &.mp{
    background-image: linear-gradient( $secondaryColor 0% , #fff 400px );
  }
  @media screen and (min-width: $wwNormal){
    &.mp{
      background: url(../images/mpBg.jpg) no-repeat center 0;
      background-size: 100% auto;
    }
  }
}
