.webFooter{
  padding: 20px 4vw;line-height: 1.6; font-size: .94rem;
  background-color: #1B1B1B; color: #fff;
  

  a{ color: #fff; outline: none; }

  .info{line-height: inherit; margin:1em 0;}

  .links {
    list-style: none; margin: 0; padding: 0; line-height: 1.2;
    overflow: hidden;
    li{ float: left; padding: 0 .5em 0 .6em; position: relative;
      &::before{content: '';position: absolute;left: 0; top: 2px; height: .9em; width: 1px; background-color: #999;}
      &:first-child{padding-left: 0;
        &::before{display: none;}
      }
      &:last-child{padding-right: 0;}
      a{
        display: block; text-decoration: none;
        border-bottom: 2px solid transparent;
        &:hover, &:focus{border-bottom-color: $lightColor; color: $lightColor; }
      }
    }
  }

  .aaaBadge{
    margin: 1em 0; padding: 2px; overflow: hidden;
     a{ float: left;
      &:hover, &:focus{ box-shadow: $lightColor 0 0 0 2px; }
    }
     img{ display: block; height: 56px; }
  }

  .visitors, .latestUpdate{
    clear: both; 
    em{ display: inline-block; font-style: normal;}
    time{ display: inline-block;}

  }

  @media screen and (min-width: $wwNormal){
    position: relative; padding: 40px 4vw; min-height: 15em;

    .links, .info { width: calc(100% - 25em); }
    .links{margin-bottom: 1.8em;}
    .aaaBadge{position: absolute; right: 4vw; top:40px;
    }
    .latestUpdate { float: right; }
    .visitors{position: absolute; right: calc( 15em + 4vw ); }
  }
  
 

  @media screen and (min-width: $wwWide){
    .links, .info{
      padding-left: calc( 46vw - #{$wwWide}/2 );
    }
  }
  
  @media screen and (min-width: $wwWide + 112){
    .aaaBadge{ right: calc( 50vw - #{$wwWide}/2); 
    }
    .latestUpdate{ margin-right: calc( 46vw - #{$wwWide}/2);}
    .visitors{ right: calc( 50vw - #{$wwWide}/2 + 15em);}
  }


}