.notice{
  @extend %mainSection;

  background-color: $grayLight;
  line-height: 1.8;

  &>a, p a{ color: $font-color; text-decoration: underline;}
  p+p{margin-top: 2em;}
  em{ font-weight: bold; font-style: normal; display: inline-block; margin: 0 5px;
    &.enlarge{ font-size: 1.4em; font-weight: normal;}
  }

  .btnDv{border: none; padding-bottom: 0;}

}
.formA + .notice{ margin-top: -30px;}