.preferences{ display: none;
  background: #fff; padding: 20px 16px 16px;
  box-shadow: #0004 0 0 25px;

  a{color: $font-color; text-decoration: none; outline: none; cursor: pointer; transition: .2s;}

  .closeBtn{
    display: block; text-align: center; padding:8px 3px 3px;
    overflow: hidden;
    &>a{
      float: right;
      height: 2.2em; line-height: 2.2; padding:0 1em;
      min-width: 4em; border-radius: 1.5em;
      box-shadow: $border-color 0 0 0 1px; 
      
      &:hover{box-shadow: $border-color-dark 0 0 0 2px;}
      &:focus{box-shadow: $primaryColor 0 0 0 2px;}

    }    
  }

  ul{  
    list-style: none; margin: 0; padding:1px; overflow: hidden;
    &>li{ float: left;margin: 4px; 
      &>a{
        display: block; width: 44px; height: 44px; line-height: 44px;
        text-align: center; 
      }
    }
    &+.label{margin-top: 16px;}
  }
  .label{display: block; color: $font-color-light; padding:2px 4px;}

  .fontSize{display: inline-block; border-radius: 100px; border: 1px solid $border-color-light; 
    &>li{padding: 2px;
      &>a{ background-color: $grayLight;border-radius: 50%; 
        &:hover{box-shadow: $gray 0 0 0 2px; background: #fff;}
        &:focus{ box-shadow: $primaryColor 0 0 0 1px; background: $secondaryColor;}
      }
      &.active{
        &>a{ box-shadow: $primaryColor 0 0 0 2px; background: #fff;
          &:focus{ box-shadow: $primaryColor 0 0 0 3px; }
        }
      }
      &.small{ font-size: 13px;}
      &.large{ font-size: 20px;}
    }
  }

  .colorSet{border-radius: 8px;
    &>li{
      padding:4px 4px 4px 24px; position: relative;
      border: 1px solid $border-color-light;border-radius: 6px;
      &::before{ opacity: 0;
       content: ''; position: absolute; left:5px; top: 19px;
       width: 10px; height: 6px; border: 3px solid $primaryColor; border-top: none; border-right: none;
       transform: rotate(-45deg);
      }
      &>a{border-radius: 4px;
        &:hover,
        &:focus{ box-shadow: $importantColor 0 0 0 2px, #fff 0 0 0 1px inset;border-radius: 2px; }
      }
      &.active{
         border-color: $primaryColor;
        &::before{ opacity: 1;}
        &>a{
          cursor: default;
          // &:hover{box-shadow: none !important; border-radius: 4px;}
        }
      }
      &.color1>a{background-color: #000; color: #fe0;
        // &:hover{ box-shadow: #000 0 0 0 2px; }
      }
      &.color2>a{background-color: #fe0; color: #000;
        // &:hover{ box-shadow: #fe0 0 0 0 2px; }      
      }
      &.color3>a{background-color: #000; color: #fff;
        // &:hover{ box-shadow: #000 0 0 0 2px; }      
      }
      &.color4>a{background-color: #214b65; color: #fff;
        // &:hover{ box-shadow: #214b65 0 0 0 2px; }      
      }
      &.color0>a{background-color: #fff; color: #000;
        border: $gray 1px solid;
        // &:hover{ box-shadow: #fff 0 0 0 1px inset, $gray 0 0 0 2px; }      
      }

    }
  }
}

.topLinks .preferences{
  z-index: 99;
  position: absolute; top: 50px; left: auto; right: 0;
  width: 92vw; max-width: 280px;
  @media screen and (min-width: $wwNormal){
    position: absolute; top: auto; right: 0; left: auto;
  }
}