.preferences{ display: none;
  padding: 20px 16px 16px;
  background: #fff; color: #333;
  box-shadow: #0005 0 0 25px;

  a{text-decoration: none; outline: none; cursor: pointer; transition: .2s;}

  .closeBtn{
    display: block; text-align: center; padding:8px 3px 3px;
    overflow: hidden;
    &>a{
      float: right;
      height: 2.2em; line-height: 2.2; padding:0 1em;
      min-width: 4em; border-radius: 1.5em;
      box-shadow: #bbb 0 0 0 1px; color: #333;
      
      &:hover{box-shadow: #888 0 0 0 2px;}
      &:focus{box-shadow: #333 0 0 0 2px;}

    }    
  }

  ul{  
    list-style: none; margin: 0; padding:1px; overflow: hidden;
    &>li{ float: left;margin: 4px; 
      &>a{
        display: block; width: 44px; height: 44px; line-height: 44px;
        text-align: center; 
      }
    }
    &+.label{margin-top: 16px;}
  }
  .label{display: block; padding:2px 4px;}

  .fontSize{display: inline-block; border-radius: 100px; 
    border: 1px solid #bbb; background-color: #fff;
    &>li{padding: 2px;
      &>a{box-shadow: #bbb 0 0 0 1px;border-radius: 50%; color: #000; 
        &:hover, &:focus{box-shadow: #999 0 0 0 2px;}
      }
      &.active{
        &>a{ box-shadow: #333 0 0 0 2px; 
          &:focus{ box-shadow: #333 0 0 0 3px; }
        }
      }
      &.small{ font-size: 13px;}
      &.large{ font-size: 20px;}
    }
  }

  .colorSet{border-radius: 8px;
    &>li{
      padding:4px 4px 4px 24px; position: relative; border-radius: 6px;
      background: #fff;
      box-shadow: #bbb 0 0 0 1px;
      &::before{ opacity: 0;
       content: ''; position: absolute; left:5px; top: 19px;
       width: 10px; height: 6px; border: 3px solid #000; border-top: none; border-right: none;
       transform: rotate(-45deg);
      }
      &>a{border-radius: 4px;
        &:hover,
        &:focus{ box-shadow: #333 0 0 0 2px, #fff 0 0 0 1px inset;border-radius: 2px; }
      }
      &.active{
        box-shadow: #333 0 0 0 2px;
        &::before{ opacity: 1;}
        &>a{cursor: default;}
      }
      &.color1>a{
        background-color: #000; color: #fff;
      }
      &.color2>a{
        background-color: #f9f7e9; color: #000;
      }
      &.color3>a{
        background-color: #393c3e; color: #ffffd5;
      }
      &.color4>a{
        background-color: #285c72; color: #fff;
      }
      &.color0>a{
        background-color: #fff; color: #000;
        border: #ccc 1px solid;
      }

    }
  }
}

.topLinks .preferences{
  z-index: 99;
  position: absolute; top: 48px; left: auto; right: 0;
  width: 92vw; max-width: 280px;
  @media screen and (min-width: $wwNormal){
    position: absolute; top: auto; right: 0; left: auto;
  }
}