// 文章查詢 ============================================
.mpSearch, .lpSearch{
  background: #fff;
  input[type="button"], input[type="submit"] {
    background-color: $secondaryColor; color: $primaryColor;
    border-color: $secondaryColor;
  }

  .flexRow{
    display: flex; flex-flow: row wrap;
    select{ flex:1 0 30%}
    input[type="text"] {flex:1 1 65%}
    input[type="button"], input[type="submit"], .button { flex:1 1 45%; width: auto; }
  }

  @media screen and (min-width: $wwMedium){
    .flexRow{ flex-wrap: nowrap;
      select{ flex:1 1 20%}
      input[type="text"] {flex:1 1 40%}  
      input[type="button"], input[type="submit"], .button { flex:0 1 auto; width: 7em;}
    }
  }

  @media screen and (min-width: $wwNormal){
    padding: 50px;
    .flexRow{
      input[type="button"], input[type="submit"], .button { width: 9em;}
    }
  }
}
// 在首頁
.mpSearch{@extend %mpBlock;
  padding: 40px 4vw;
  margin-top: 0;
  box-shadow: #0006 0 8px 25px -8px;
  @media screen and (min-width: $wwNormal){
    margin-top: 50px; padding: 40px 5vw;
  }
}
// 在查詢結果上方
.lpSearch{@extend %mainSection;
  margin: 0 auto 30px; padding: 20px 4vw;
  box-shadow: #0003 0 0 8px;
  @media screen and (min-width: $wwMedium){
    padding: 30px 4vw;
  }
}