$wwSlim: 500px;
$wwMedium: 700px;
$wwNormal: 1000px;
$wwWide: 1200px;



// 行動版側欄寬度
$sidebarWidth: 260px;


// .main > section.* 寬度設定
%mainSection{
  width: 92vw; margin:0 auto 60px; padding: 40px 4vw;
  // outline: 1px dashed pink;

  &>.pageHeader{
    text-align: center;
  }

  @media screen and (min-width: $wwNormal){
    max-width: $wwWide;
    padding:50px;

    &.compact{
      max-width: 50rem;
    }
  }
}